redirects: on
source https://api.nuget.org/v3/index.json
source https://www.nuget.org/api/v2

nuget NLog
nuget Logary
nuget Logary.CSharp
nuget log4net
nuget FAKE
nuget FSharp.Core ~> 4 redirects: force