type project
id LogAdapter.NLog
version 1.0.0.0
title LogAdapter.NLog
authors Oskar Gewalli
owners Oskar Gewalli
projectUrl https://github.com/wallymathieu/LogAdapter
requireLicenseAcceptance false
summary
    Adapter in order to expose library logging (for current and future logging frameworks)
licenseurl http://opensource.org/licenses/MIT
